font-family = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji'

font-size--display = {
  larger: 48px,
  large: 36px,
  medium: 24px,
  small: 22px
}

font-size--text = {
  larger: 18px,
  large: 16px,
  medium: 14px,
  small: 12px,
}

font-size--icon = {
  small: 14px,
  medium: 16px,
  large: 24px,
  larger: 32px
}

icon-size = {
  small: 16px,
  medium: 18px,
  large: 20px,
  larger: 24px
}
