@use 'sass:map';
@use './common/var.scss' as *;
@use './mixins/main.scss';
@use './mixins/alert.scss' as *;

.sui-alert {
  $ns: '.sui-alert';
  --padding: 8px 15px;
  --padding-lg: 15px;

  padding: var(--padding);
  border-radius: map.get($sizes-radius, 'square');
  box-sizing: border-box;
  font-size: map.get($sizes-text, 'body-3');
  transition: all map.get($durations, '3') map.get($timings, 'linear');
  opacity: 1;
  color: var(--sui-text-1);
  line-height: $line-height-base;

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  &__content {
    flex-grow: 1;
  }
  
  &__icon {
    font-size: map.get($sizes-text, 'title-1');
    margin-right: 8px;
    .sui-icon {
      vertical-align: -2px;
    }
  }

  &__close-btn {
    @include main.icon-button(20px);
    #{$ns}__close-token {
      position: relative;
    }
  }

  &.has-title {
    padding: var(--padding-lg);
    #{$ns}__wrapper {
      align-items: flex-start;
    }
    #{$ns}__icon {
      font-size: map.get($sizes-text, 'title-2');
    }
  }

  &__title {
    font-size: map.get($sizes-text, 'title-1');
    font-weight: 500;
    line-height: map.get($sizes-text, 'title-2') * 1.5;
  }
  
  // types
  $types: 'primary', 'warning', 'success', 'error';
  @each $type in $types {
    &#{$ns}--#{$type} {
      @include alert($type);
    }
  }

  &.is-closing {
    height: 0 !important;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    transform-origin: 50% 0;
    opacity: 0;
    transition: all map.get($durations, '3') ease-in-out;

    * {
      opacity: 0;
      transition: opacity map.get($durations, '3') ease-in-out;
    }
  }
}