@import "common/var.styl"

.sui-alert {
  padding 12px 16px
  border-radius border-radius--normal
  box-sizing border-box
  font-size font-size--text.medium

  for type, color in typesMap {
    &--{type} {
      border: 1px solid color.normal
      background-color: color.normal
      color: color--text.vert
    }
  }

  &--warning {
    color: color--text.dark
  }

  &__wrapper {
    display flex
    align-items center
    position relative
    padding-right 24px
    box-sizing border-box

    ^[0]__icon {
      font-size 24px
      margin-right 16px

      &.is-large {
        font-size 32px
      }
    }
    ^[0]__title {
      font-weight 700
      margin-bottom 4px
    }
    ^[0]__message {
      margin 0
    }
  }

  &__close-icon {
    position absolute
    right 0
    line-height 0
    cursor pointer
    top 4px
  }

  // is outlined
  &.is-outlined {
    for type, color in typesMap {
      &^[0]--{type} {
        border: 1px solid color.normal
        background-color: color.x-light
        color: color.normal
      }
    }
  }
}
