@use 'sass:map';
@use 'common/var.scss' as *;

@mixin use-sizes($size) {
  &--#{$size} {
    height: #{var(--size-#{$size})};
    width: #{var(--size-#{$size})};
  }
}

.sui-avatar {
  --size-large: 48px;
  --size-medium: 40px;
  --size-small: 32px;

  display: inline-flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: map.get($sizes-radius, 'medium');
  background-color: var(--sui-fill-2);
  vertical-align: middle;
  color: var(--sui-text-2);
  font-size: map.get($font-sizes, 'base');
  text-align: center;

  img {
    display: inline-block;
    height: 100%;
  }

  span {
    display: inline-block;
    text-align: center;
    width: 100%;
    &.auto-width {
      display: block;
      position: absolute;
      transform-origin: 0 center;
      left: 50%;
      white-space: nowrap;
      width: auto;
      transform: translate(-50%);
    }
  }

  // shapes
  &--circle {
    border-radius: map.get($sizes-radius, 'circle');
  }

  // sizes
  @include use-sizes('large');
  @include use-sizes('medium');
  @include use-sizes('small');
}