.sui-badge {
  display inline-block
  position relative
  vertical-align middle

  &__content {
    position absolute
    top -8px
    right -10px
    background-color colors--primary.normal
    font-size font-size--text.small
    color #ffffff
    height 18px
    border-radius 50px
    padding 0 6px
    text-align center
    line-height @height
    border 1px solid #ffffff

    &.is-dot {
      height 8px
      width @height
      padding 0
      right -4px
      top -4px
    }
  }

  &--success {
    & ^[0]__content {
      background-color colors--success.normal
    }
  }
  &--warning {
    & ^[0]__content {
      background-color colors--warning.normal
    }
  }
  &--error {
    & ^[0]__content {
      background-color colors--error.normal
    }
  }
}
