.sui-breadcrumb {
  font-size font-size--text.medium
  color color--text
  line-height 1.5

  &-item {
    display inline-flex
    align-items center

    &__content {
      margin-right 4px
    }
    &__separator {
      font-weight 700
      color color--placeholder
      font-size font-size--text.small
      margin 0 9px

      &.sui-icon {
        font-size font-size--text.medium
        margin 0 4px
      }
    }

    &:last-child > &__separator {
      display none
    }

    .is-link, a {
      font-weight 700
      text-decoration none
      cursor pointer
      color: color--text
      transition all .2s

      &:hover {
        color: color--primary
      }
    }
  }
}
