@use './common/var.scss' as *;
@use './mixins/main.scss';
@use 'sass:map';

.sui-button-group {
  $el: '.sui-button';
  $mid: ':not(:first-child):not(:last-child)';
  display: inline-flex;
  align-items: center;

  #{$el}:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #{$el}:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  #{$el}#{$mid} {
    border-radius: 0;
  }
  #{$el}:not(:last-child) {
    margin-right: 0;
  }

  #{$el} + #{$el} {
    margin-left: -1px;
  }
  #{$el}:not(.sui-button--primary) {
    &:hover {
      z-index: 2;
    }
    &:focus {
      z-index: 1;
    }
  }
  .sui-button--primary:not(:first-child) {
    border-left-color: var(--sui-border-1) !important;
  }
}