@import "common/var.styl"
@import "common/mixins/mixin.button.styl"

.sui-button {
  display inline-block
  position relative
  line-height 1
  white-space nowrap
  cursor pointer
  border 1px solid color--border
  background-color #ffffff
  padding 0 16px
  min-height 40px
  font-size: font-size--text.medium
  vertical-align baseline
  box-sizing border-box
  border-radius: border-radius--normal
  color color--text.normal
  font-weight 400
  transition all .12s
  outline none

  span:not(.sui-icon) {
    font-size font-size--text.medium
    line-height 1.5
  }

  &::active {
    box-shadow none !important
  }

  .sui-icon {
    font-size 16px
    margin-top -2px
  }

  &.has-icon &__label {
    margin-left 4px
  }

  .loader {
    margin-right 4px
  }

  make-button(colors--primary)

  &.is-danger {
    make-button(colors--error)
  }

  // types
  &--primary {
    make-primary-button(colors--primary)

    &.is-danger {
      make-primary-button(colors--error)
    }
  }

  &--outlined {
    make-outlined-button(colors--primary)

    &.is-danger {
      make-outlined-button(colors--error)
    }
  }

  &--text {
    make-text-button(colors--primary)

    &.is-danger {
      make-text-button(colors--error)
    }
  }

  // shapes
  ^[0]&--round {
    border-radius 50px
  }
  ^[0]&--circle {
    border-radius 50%
    padding 11px

    .sui-icon {
      margin-right 0
    }
  }

  // sizes
  &^[0]--large {
    min-height 48px

    &^[0]--circle {
      padding 15px
    }
  }
  &^[0]--small {
    min-height 32px

    &^[0]--circle {
      padding 9px
    }
  }

  // disabled
  &.is-disabled {
    background-color color--bg.normal
    border-color color--border
    color color--placeholder
    cursor not-allowed
  }

  // loading
  &.is-loading {
    cursor default
    &::before {
      position absolute
      content ''
      top -1px
      bottom -1px
      left -1px
      right -1px
      background-color rgba(#ffffff, 0.6)
    }
  }
}
