.sui-button-group {
  display inline-flex
  align-items center

  .sui-button:first-child {
    border-top-right-radius 0
    border-bottom-right-radius 0
  }
  .sui-button:last-child {
    border-top-left-radius 0
    border-bottom-left-radius 0
  }
  .sui-button:not(:first-child):not(:last-child) {
    border-radius 0
  }
  .sui-button:not(:last-child) {
    margin-right 0
    border-right 0
  }

  .sui-button + .sui-button {
    margin-left 0
  }
  .sui-button:not(.is-disabled):not(.is-loading):not(.sui-button--primary):hover {
    z-index 1
  }
  .sui-button:not(.is-disabled):not(.is-loading):not(.sui-button--primary):focus,
  .sui-button:not(.is-disabled):not(.is-loading):not(.sui-button--primary):active {
    z-index 2
  }

  .sui-button--primary:not(:first-child) {
    border-left-color #ffffff !important
  }
  .sui-button--outlined:not(:first-child) {
    border-left-color: colors--primary.normal

    &.is-danger {
      border-left-color: colors--error.normal
    }
  }
}
