@import "common/var.styl"
@import "common/mixins/mixin.button.styl"

.sui-button {
  display inline-block
  line-height 1
  white-space nowrap
  cursor pointer
  border 1px solid color--border
  background-color #ffffff
  padding 0 16px
  min-height 40px
  font-size: font-size--text.medium
  vertical-align middle
  box-sizing border-box
  border-radius: border-radius--normal
  color color--text.normal
  font-weight 400
  transition all .2s
  outline none

  span:not(.sui-icon) {
    font-size font-size--text.medium
    line-height 1.5
  }

  .sui-icon {
    font-size 16px
    margin-top -1px
    margin-right 4px
  }

  make-button(color--primary)

  // types
  ^[0]&--primary {
    make-primary-button(color--primary)
  }

  ^[0]&--outlined {
    make-outlined-button(color--primary)
  }

  ^[0]&--text {
    make-text-button(color--primary)
  }

  // danger
  &.is-danger {
    make-button(color--error)

    &^[0]--primary {
      make-primary-button(color--error)
    }
    &^[0]--outlined {
      make-outlined-button(color--error)
    }
    &^[0]--text {
      make-text-button(color--error)
    }
  }

  // shapes
  ^[0]&--round {
    border-radius 50px
  }
  ^[0]&--circle {
    border-radius 50%
    padding 11px

    .sui-icon {
      margin-right 0
    }
  }

  // sizes
  &^[0]--large {
    min-height 48px

    &^[0]--circle {
      padding 15px
    }
  }
  &^[0]--small {
    min-height 32px

    &^[0]--circle {
      padding 9px
    }
  }
}
