.sui-card {
  border: 1px solid color--border
  border-radius: border-radius--normal
  transition all .3s

  .sui-card__header {
    border-bottom 1px solid color--border
  }
  .sui-card__footer {
    border-top 1px solid color--border
  }

  &.is-borderless {
    border: none
  }
  ^[0]&--shadow-hover:hover {
    box-shadow: box-shadow--normal
  }
  ^[0]&--shadow-always {
    box-shadow: box-shadow--normal
  }
}
