@use 'sass:map';
@use 'common/var.scss' as *;

.sui-card {
  $ns: '.sui-card';
  $shadow: map.get($shadows, 'base');

  border-radius: map.get($sizes-radius, 'square');
  transition: all map.get($durations, '3') map.get($timings, 'linear');
  box-sizing: border-box;
  color: var(-sui-text-1);

  &.is-outlined {
    border: 1px solid var(--sui-border-1);
  }
  &.is-hoverable:hover {
    box-shadow: $shadow;
  }

  &__header {
    border-bottom: 1px solid var(--sui-border-1);
    padding: 8px 16px;
    display: flex;
    align-items: center;

    #{$ns}__title {
      font-size: map.get($sizes-text, 'title-1');
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex-grow: 1;
    }
    #{$ns}__action {
      flex-shrink: 0;
    }
  }
}
