@use 'sass:map';
@use 'common/var.scss' as *;

.sui-card {
  $ns: '.sui-card';
  $shadow:map.get($box-shadows, 'base');

  border: 1px solid $border-color;
  border-radius: map.get($border-radiuses, 'base');
  transition: map.get($durations, 'slow');
  box-sizing: border-box;
  color: map.get($text-colors, 'base');
  font-size: map.get($font-sizes, 'base');

  &.is-borderless {
    border: none;
  }
  &#{$ns}--shadow-always {
    box-shadow: $shadow;
  }
  &#{$ns}--shadow-hover:hover {
    box-shadow: $shadow;
  }

  &__header {
    border-bottom: 1px solid $border-color;
    padding: 8px 16px;
    font-size: map.get($font-sizes, 'large');
    font-weight: map.get($font-weights, 'bold');
    color: map.get($text-colors, 'title');
  }
  &__footer {
    border-top: 1px solid $border-color;
  }
  &__body, &__footer {
    padding: 8px 16px;
  }
}