@import './common/mixins/mixin.common'

.sui-checkbox-button {
  position relative
  display inline-block
  transition all .15s

  &__original {
    opacity 0
    position absolute
    top 0
    left 0
    z-index -1
  }

  &__btn {
    display inline-flex
    align-items center
    justify-content center
    font-size font-size--text.medium
    color color--text
    padding 0 16px
    min-height 40px
    border 1px solid color--border
    cursor pointer
    transition all .15s

    &:hover {
      color color--primary
    }
  }

  &:first-child {
    & ^[0]__btn {
      border-top-left-radius border-radius--normal
      border-bottom-left-radius border-radius--normal
    }
  }
  &:last-child {
    & ^[0]__btn {
      border-top-right-radius border-radius--normal
      border-bottom-right-radius border-radius--normal
    }
  }
  &:not(:first-child) {
    & ^[0]__btn {
      border-left 0
    }
  }

  &.is-checked {
    & ^[0]__btn {
      background-color color--primary
      border-color color--primary
      border-right-color: color--border
      color #ffffff
    }

    ^[1]:last-child ^[0]__btn {
      border-right-color: color--primary
    }
  }
  &.is-focused {
    & ^[0]__btn {
      ring(color--primary)
    }

    z-index 1
  }
  &.is-disabled {
    & ^[0]__btn {
      background-color color--surface
      color color--disabled
      cursor not-allowed
    }
  }
  &.is-checked.is-disabled {
    & ^[0]__btn {
      opacity 0.4
      background-color color--primary
      color #ffffff
      border-color color--primary-light
      cursor not-allowed
    }
  }

  // sizes
  &--small {
    & ^[0]__btn {
      min-height 32px
    }
  }
  &--large {
    & ^[0]__btn {
      min-height 48px
    }
  }
}
