@import './common/mixins/mixin.common'

.sui-checkbox {
  box-sizing border-box
  font-size font-size--text.medium
  color color--text
  line-height 1.5
  cursor pointer
  display inline-flex
  align-items center
  transition all .2s

  &__input {
    outline none
    line-height 1
    position relative

    input[type="checkbox"] {
      opacity 0
      position absolute
      top 0
      left 0
      z-index -1
    }

    ^[0]__inner {
      width 16px
      height 16px
      display inline-block
      border-radius border-radius--normal
      border 1px solid color--border
      vertical-align baseline
      position relative
      transition all .2s

      &::before {
        content ""
        position absolute
        width 8px
        height 4px
        top 20%
        left 18%
        border 2px solid #ffffff
        border-top 0
        border-right 0
        transform rotate(-45deg) scale(0)
        opacity 0
        transition all .2s
      }
    }
  }

  &__label {
    padding-right 12px
    padding-left 8px
  }

  // states
  &.is-checked {
    & ^[0]__input ^[0]__inner {
      border-color: color--primary
      background-color: color--primary

      &::before {
        transform rotate(-45deg) scale(1)
        opacity 1
      }
    }
  }
  &.is-disabled {
    cursor not-allowed
    & ^[0]__input ^[0]__inner {
      background-color: color--surface !important
      border-color: color--border !important
    }
    & ^[0]__label {
      color color--text-secondary
    }

    &.is-checked {
      & ^[0]__input ^[0]__inner {
        background-color: color--disabled !important
      }
    }
  }

  &:hover {
    color: color--primary

    & ^[0]__input ^[0]__inner {
      border-color color--primary
    }
  }

  &.is-focus {
    & ^[0]__input ^[0]__inner {
      ring(color--primary)
    }
  }
  &.is-indeterminate {
    .sui-checkbox__inner {
      background-color #ffffff !important
      border-color: color--primary
      &::before {
        width 10px
        height @width
        border none
        left calc(50% - 5px)
        top calc(50% - 5px)
        transform rotate(0deg) scale(1) !important
        opacity 1
        background-color color--primary
      }
    }
  }
}
