@use 'common/var.scss' as *;

.sui-divider {
  --margin-mini: 4px;
  --margin-small: 8px;
  --margin: 16px;
  --margin-large: 24px;

  $ns: '.sui-divider';

  position: relative;
  clear: both;
  display: inline-block;
  vertical-align: middle;

  &#{$ns}--horizontal {
    width: 100%;
    border-bottom: 1px solid var(--sui-border-1);
    margin: var(--margin) 0;
  }
  &#{$ns}--vertical {
    height: 1em;
    border-left: 1px solid var(--sui-border-1);
    margin: 0 var(--margin);
  }

  // sizes
  @each $size in ('mini', 'small', 'large') {
    &#{$ns}--#{$size} {
      &#{$ns}--horizontal {
        margin: var(--margin-#{$size}) 0;
      }
      &#{$ns}--vertical {
        margin: 0 var(--margin-#{$size});
      }
    }
  }
}
