@use 'sass:map';
@use 'common/var.scss' as *;
@use 'mixins/main.scss';
@use 'mixins/popper.scss';

.sui-dropdown {
  $ns: '.sui-dropdown';
  display: inline-block;
  box-sizing: border-box;

  &-menu {
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 8px;
    font-size: map.get($font-sizes, 'base');
    color: map.get($text-colors, 'base');

    &__item {
      @include main.use-flex(false);
      padding: 8px;
      cursor: pointer;
      border-radius: map.get($border-radiuses, 'base');

      &.is-highlighted {
        background-color: map.get($colors, primary, '6');
        color: map.get($colors, primary, 'base');
      }

      &.is-danger.is-highlighted {
        background-color: map.get($colors, error, '6');
        color: map.get($colors, error, 'base');
      }

      &.is-divided {
        margin-top: 16px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -8px;
          left: 0;
          width: 100%;
          border-top: 1px solid $border-color;
        }
      }

      &.is-disabled {
        cursor: not-allowed;
        background-color: map.get($surface-colors, 'light-3');
        color: map.get($text-colors, 'placeholder');
      }
    }
  }

  &#{$ns}-submenu {
    #{$ns}-menu__item {
      padding: 0;
    }

    #{$ns}__reference {
      @include main.use-flex(false);
    }
  }
}

.sui-popper--dropdown {
  transition-timing-function: ease-in-out;
  box-shadow: map.get($box-shadows, 'dark');

  @include popper.use-placement;

  &[data-state=hidden] {
    opacity: 0;
    transform: scale(95%);
  }

  &[data-state=visible] {
    opacity: 1;
    transform: scale(100%);
  }
}

.submenu-arrow {
  margin-left: 8px;
  font-size: map.get($font-sizes, 'large');
}