@use 'mixins/main.scss';

.sui-icon {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  line-height: 1em;
  color: inherit;
  font-size: inherit;
  fill: currentColor;

  svg {
    width: 1em;
    height: 1em;
  }
}