@import "common/mixins/mixin.common.styl"

.sui-input {
  position relative
  font-size font-size--text.medium
  display inline-flex
  width 100%
  height 40px
  line-height 40px
  vertical-align middle

  &__input {
    display inline-block
    color color--text.normal
    background-color #ffffff
    border 1px solid color--border
    border-radius border-radius--normal
    height 40px
    line-height 40px
    box-sizing border-box
    padding 0 16px
    outline none
    transition all .3s
    vertical-align middle
    width 100%

    &:focus {
      box-shadow box-shadow--primary
      border-color colors--primary.normal
    }
    &:not([disabled]):hover {
      border-color colors--primary.normal
    }

    &[disabled] {
      background-color color--bg.normal
      cursor not-allowed
    }
  }

  &__prefix {
    height 100%
    position absolute
    left 12px
    top 0
    text-align center
    color color--placeholder
    center-el()
    pointer-events none
  }

  &__suffix {
    height 100%
    position absolute
    right 12px
    top 0
    text-align center
    color color--placeholder
    center-el()
    pointer-events none

    .sui-icon {
      vertical-align baseline
    }

    .sui-icon:not(:last-child) {
      margin-right 6px
    }

    .sui-icon.toggle-password,
    .sui-icon.clear-input {
      cursor pointer
      pointer-events auto
      transition color .3s

      &:hover {
        color color--text.normal
      }
    }

    ^[0]__count {
      background-color #ffffff
      padding-left 4px
    }
  }

  &.has-prefix > &__input {
    padding-left 32px
  }
  &.has-suffix > &__input {
    padding-right 28px
  }
}

::placeholder {
  color color--placeholder
}

.sui-input--group {

  &.is-focused {
    .sui-input__input {
      z-index 1
    }
    .sui-input__prefix, .sui-input__suffix {
      z-index 2 !important
    }
  }

  .sui-input__prepend, .sui-input__append {
    background-color color--bg.dark
    padding 0 12px
    border 1px solid color--border
    color color--text.normal
    box-sizing border-box
    center-el()

    // button
    .sui-button,
    .sui-button:hover, .sui-button:active, .sui-button:focus {
      margin 0 -13px 0 -13px
    }

    // select
    .sui-select {
      margin-top -2px
      margin-left -18px
      margin-right -18px
    }
  }

  &.has-prepend  {
    &.is-hovering {
      .sui-button {
        border-right-color colors--primary.normal
      }
      .sui-select .sui-input__input {
        border-right-color colors--primary.normal
      }
    }
    .sui-input__prepend {
      border-right 0
      border-top-left-radius border-radius--normal
      border-bottom-left-radius border-radius--normal

      .sui-button {
        border-top-right-radius 0
        border-bottom-right-radius 0
        margin-right -13px
      }
      .sui-input__input {
        border-top-left-radius border-radius--normal
        border-top-right-radius 0
        border-bottom-left-radius border-radius--normal
        border-bottom-right-radius 0
      }
    }
    .sui-input__input {
      border-top-left-radius 0
      border-bottom-left-radius 0
    }
  }
  &.has-append  {
    &.is-hovering {
      .sui-button {
        border-left-color colors--primary.normal
      }
      .sui-select .sui-input__input {
        border-left-color colors--primary.normal
      }
    }
    .sui-input__append {
      border-left 0
      border-top-right-radius border-radius--normal
      border-bottom-right-radius border-radius--normal

      .sui-button {
        border-top-left-radius 0
        border-bottom-left-radius 0
        margin-left -13px
      }
      .sui-input__input {
        border-top-left-radius 0
        border-top-right-radius border-radius--normal
        border-bottom-left-radius 0
        border-bottom-right-radius border-radius--normal
      }
    }
    .sui-input__input {
      border-top-right-radius 0
      border-bottom-right-radius 0
    }
  }
}
