@use 'sass:map';
@use 'common/var.scss' as *;
@use 'mixins/main.scss';

.sui-input {
  $ns: '.sui-input';
  $size: map.get($component-common-sizes, 'base');
  $size-lg: map.get($component-common-sizes, 'large');
  $size-sm: map.get($component-common-sizes, 'small');
  $text-color: map.get($text-colors, 'base');
  $radius: map.get($border-radiuses, 'base');
  $color: map.get($colors, 'primary', 'base');

  box-sizing: border-box;
  display: inline-flex;
  vertical-align: middle;
  display: inline-flex;
  width: 100%;

  &__inner {
    width: 100%;
    position: relative;
  }
  
  &__input {
    height: $size;
    line-height: $size;
    display: inline-flex;
    border: 1px solid $border-color;
    outline: 0;
    color: $text-color;
    width: 100%;
    vertical-align: middle;
    transition: map.get($durations, 'fast');
    padding: 0 12px;
    border-radius: $radius;
    font-size: map.get($font-sizes, 'base');
    box-sizing: border-box;
    // remove default style added by MS Edge
    &::-ms-clear, &::-ms-reveal {
      display: none;
    }

    &:not([disabled]):not(:focus):hover {
      border-color: map.get($border-colors, 'dark-1');
    }
    &:focus {
      @include main.use-ring($color);
      border-color: $color;
    }
    &[disabled] {
      background-color: map.get($surface-colors, 'light-2');
      cursor: not-allowed;
    }
  }

  // affixes
  &__prefix, &__suffix {
    box-sizing: border-box;
    position: absolute;
    height: $size;
    top: 0;
    color: map.get($text-colors, 'placeholder');
    font-size: map.get($font-sizes, 'large');
    @include main.use-inline-flex;
  }
  &__prefix {
    left: 0;
    padding-left: 8px;
  }
  &__suffix {
    right: 0;
    padding-right: 8px;

    &-inner {
      * + * {
        margin-left: 3px;
      }
    }
  }

  &.has-prefix {
    #{$ns}__input {
      padding-left: 32px;
    }
  }
  &.has-suffix {
    #{$ns}__input {
      padding-right: 32px;
    }
  }

  // pendants
  &--group {
    #{$ns}__prepend, #{$ns}__append {
      font-size: map.get($font-sizes, 'base');
      color: $text-color;
      padding: 0 8px;
      background-color: map.get($surface-colors, 'light-3');
      border: 1px solid map.get($border-colors, 'base');
    }
    #{$ns}__prepend {
      border-right: 0;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      @include main.use-inline-flex;

      .sui-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    #{$ns}__append {
      border-left: 0;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
      @include main.use-inline-flex;

      .sui-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.has-prepend {
      #{$ns}__input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &.has-append {
      #{$ns}__input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    // buttons
    .sui-button {
      margin: -1px -9px;
      
      &:focus, &:active {
        z-index: 1;
      }
    }
  }
}