@use 'sass:map';
@use 'common/var.scss' as *;

@mixin link($type) {
  &.sui-link--#{$type} {
    color: var(--sui-#{$type}-6);
    &.is-disabled {
      cursor: not-allowed;
      color: var(--sui-#{$type}-light-3);
    }
    &:not(.is-disabled).has-underline:active {
      color: var(--sui-#{$type}-7);
      transition: none;
    }
  }
}

.sui-link {
  $ns: '.sui-link';
  --padding: 1px 4px;

  padding: var(--padding);
  cursor: pointer;
  text-decoration: none;
  text-underline-offset: 2px;
  font-size: 1em;
  display: inline-block;
  background-color: transparent;
  transition: all map.get($durations, '1') map.get($timings, 'linear');

  &:not(.is-disabled).has-underline {
    &:hover {
      text-decoration-line: underline;
    }
  }

  &:not(.is-disabled).has-background {
    &:hover {
      background-color: var(--sui-fill-2);
    }
    &:active {
      background-color: var(--sui-fill-3);
      transition: none;
    }
  }

  &.has-icon {
    display: inline-flex;
    align-items: center;

    #{$ns}__icon {
      margin-right: 4px;
    }
  }

  @each $type in ('primary', 'warning', 'success', 'error') {
    @include link($type);
  }
}