.sui-message {
  display flex
  align-items center
  position fixed
  background-color #ffffff
  box-shadow box-shadow--elevation
  border-radius border-radius--normal
  padding 8px 16px
  border 1px solid color--border
  left 50%
  transform translateX(-50%)
  transition all .3s ease-in-out

  p {
    margin 0
    font-size font-size--text.medium
    color color--text.normal
  }

  & ^[0]__icon {
    margin-right 8px
    color colors--primary.normal
    font-size 18px
  }

  &^[0]--success {
    & ^[0]__icon {
      color colors--success.normal
    }
  }
  &^[0]--warning {
    & ^[0]__icon {
      color colors--warning.normal
    }
  }
  &^[0]--error {
    & ^[0]__icon {
      color colors--error.normal
    }
  }
}

.sui-message-enter-from,
.sui-message-leave-to {
  opacity 0
  transform translate(-50%, -100%) !important
}
