// all popover wrapper
.sui-tooltip,
.sui-popover, .sui-popover__reference {
  display inline-block
}

// popover
.sui-popover__popper {
  .sui-popover__title {
    font-size font-size--text.medium
    line-height 1.5
    font-weight 700
  }
  .sui-popover__content {
    font-size font-size--text.medium
    line-height 1.5
  }
}
