// all popover wrapper
.sui-tooltip,
.sui-popover, .sui-popover__reference {
  display inline-block
  position relative
}

// color overrides
.tippy-box {
  background-color: color--text
  .tippy-arrow {
    color: color--text
  }

  &[data-theme='light-border'] {
    color: color--text !important
  }
}

// popover
.sui-popover__popper {
  .sui-popover__title {
    font-size font-size--text.medium
    line-height 1.5
    font-weight 700
  }
  .sui-popover__content {
    font-size font-size--text.medium
    line-height 1.5
  }
}
