@use 'sass:map';
@use 'common/var.scss' as *;

[data-tippy-root] {
  max-width: calc(100vw - 24px);
}

.tippy-box {
  $arrow: '.tippy-arrow';
  $arrow-size: 16px;
  $surface-color: $color-white;

  transition-duration: map.get($durations, 'fast') !important;
  position: relative;
  background-color: $surface-color;
  color: map.get($text-colors, 'base');
  font-size: map.get($font-sizes, 'base');
  border-radius: map.get($border-radiuses, 'base');
  outline: 0;
  white-space: normal;
  transition-property: visibility, opacity, transform;
  border-width: 1px;
  border-color: $border-color;
  border-style: solid;
  box-sizing: border-box;

  &[data-placement^=top] > #{$arrow} {
    bottom: 0;
  }
  &[data-placement^=top] > #{$arrow}::before {
    bottom: -7px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: initial;
    transform-origin: center top;
  }
  &[data-placement^=bottom] > #{$arrow} {
    top: 0
  }
  
  &[data-placement^=bottom] > #{$arrow}:before {
    top: -7px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: initial;
    transform-origin: center bottom;
  }
  
  &[data-placement^=left] > #{$arrow} {
    right: 0
  }
  
  &[data-placement^=left] > #{$arrow}:before {
    border-width: 8px 0 8px 8px;
    border-left-color: initial;
    right: -7px;
    transform-origin: center left;
  }
  
  &[data-placement^=right] > #{$arrow} {
    left: 0
  }
  
  &[data-placement^=right] > #{$arrow}:before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin: center right;
  }

  #{$arrow} {
    width: $arrow-size;
    height: $arrow-size;
    color: $surface-color;

    &::before {
      content: "";
      position: absolute;
      border-color: transparent;
      border-style: solid
    }
  }

  .tippy-content {
    position: relative;
    z-index: 1;
  }
}