.sui-radio {
  box-sizing border-box
  font-size font-size--text.medium
  color color--text.normal
  line-height 1.5
  cursor pointer
  display inline-flex
  align-items center
  outline none
  transition all .2s

  &__input {
    outline none
    line-height 1
    padding-right 8px
    position relative

    input[type="radio"] {
      opacity 0
      position absolute
      top 0
      left 0
      z-index -1
    }

    ^[0]__inner {
      width 16px
      height 16px
      display inline-block
      border-radius 50%
      border 1px solid color--border
      vertical-align baseline
      position relative
      transition all .2s

      &::before {
        content ""
        position absolute
        width 10px
        height @width
        border-radius 50%
        top 3px
        left @top
        background-color transparent
        transform scale(0)
        transition all .2s
      }
    }
  }

  &__label {
    padding-right 12px
  }

  // states
  &.is-checked {
    & ^[0]__input ^[0]__inner {
      border-color: colors--primary.normal

      &::before {
        background-color colors--primary.normal
        transform scale(1)
      }
    }
  }
  &.is-disabled {
    cursor not-allowed
    & ^[0]__input ^[0]__inner {
      background-color: color--bg.normal !important
      border-color: color--border !important

      &::before {
        background-color color--placeholder !important
      }
    }
    & ^[0]__label {
      color color--text.light
    }
  }

  &:hover {
    color: colors--primary.normal

    & ^[0]__input ^[0]__inner {
      border-color colors--primary.normal
    }
  }

  &.is-focus, &:focus {
    & ^[0]__input ^[0]__inner {
      box-shadow: box-shadow--primary
    }
  }
}
