.sui-rate {
  display inline-flex
  align-items center
  cursor pointer
  line-height 1.5

  & &__item {
    height 100%
    display inline-block
    position relative
    line-height 1
    box-sizing border-box
  }

  & &__icon {
    font-size font-size--display.small
    display inline-block
    line-height 1
    margin-right 6px

    svg {
      fill currentColor
    }
  }

  & &__icon-decimal {
    line-height 1
    display inline-block
    position absolute
    font-size font-size--display.small
    overflow hidden
    left 0
    top 0
  }

  &.is-disabled {
    cursor auto
  }

  & &__text {
    font-size font-size--text.medium
    color color--text.normal
  }
}
