.sui-select {
  width 240px
  cursor pointer

  input {
    cursor pointer
  }

  .sui-icon {
    transform rotate(0)
    transition transform .3s

    &.select-suffix-rotate {
      transform rotate(-180deg)
    }
  }

}
.sui-select__menu {
  margin-top 0
  margin-bottom 0
  padding 4px 0

  .sui-select__option {
    list-style-type none
    position relative
    font-size font-size--text.medium
    color color--text.normal
    padding 8px 12px
    cursor pointer
    outline none
    transition all .3s
    display flex
    align-items center
    justify-content space-between
    user-select none

    &:not(.is-disabled) {
      &:hover {
        background-color: color--primary.x-light
      }
      &:focus {
        box-shadow 0 0 0 0.25rem rgba(color--primary.light, 0.25)
      }
      &.is-selected {
        font-weight: 500
        color: color--primary.normal
        position: relative

        .sui-option__check-icon > svg {
          stroke-width 2
        }
      }
    }

    &.is-disabled {
      background-color color--bg.normal
      color color--placeholder
      cursor not-allowed
    }
    &.is-divided {
      margin-top 8px
      &:before {
        content ""
        position absolute
        box-sizing border-box
        top -4px
        left 0
        width 100%
        border-top 1px solid color--border
      }
    }
  }

}

.sui-popper--select > .tippy-content {
  padding 0
}
