.sui-switch {
  position relative
  display inline-block
  box-sizing border-box
  height 24px
  border 1px solid transparent
  background-color color--placeholder
  border-radius @height
  outline none
  cursor: pointer
  transition all .2s ease-in-out
  vertical-align middle

  &::after {
    content ""
    position absolute
    height 18px
    width 18px
    border-radius 18px
    left 2px
    top 2px
    background-color #ffffff
    transition all .3s cubic-bezier(.78,.14,.15,.86)
  }

  &__label {
    position absolute
    line-height 24px
    top 0
    color #ffffff

    &--active {
      left 8px

      & .sui-icon {
        margin-left -2px
      }
    }
    &--inactive {
      right 8px

      & .sui-icon {
        margin-right -2px
      }
    }

    .sui-icon {
      font-size 16px
      height 100%
      width 100%
    }
  }

  &.is-checked {
    background-color: colors--primary.normal

    &::after {
      left 100%
      transform translateX(-100%)
      margin-left -2px
    }
  }

  &.is-disabled {
    opacity 0.4
    cursor not-allowed
  }

  &:not(.is-disabled):focus {
    box-shadow: box-shadow--primary
  }
  &:not(.is-disabled):active {
    &::after {
      width 22px
    }
  }

  &__input {
    opacity 0
    display none
  }

  &__loader {
    position absolute
    font-size 14px
    top 4px
    left 4px
    z-index 1
    color colors--text.normal
    transition all .3s cubic-bezier(.78,.14,.15,.86)
  }
  &.is-checked &__loader {
    position absolute
    font-size 14px
    top 4px
    left 100%
    margin-left -18px
    z-index 1
    color colors--text.normal
    transition all .3s cubic-bezier(.78,.14,.15,.86)
  }
}
