.sui-tabs {
  .sui-tab {
    display inline-block
    padding 8px 16px
    position relative
    cursor pointer
    transition color .3s

    &.is-active {
      color colors--primary.normal
    }
  }

  .sui-tabs__header {
    position relative
    display flex
    border-bottom 2px solid color--border
  }

  .sui-tabs__line {
    height 2px
    bottom -2px
    left 0
    position absolute
    background-color colors--primary.normal
    transition all .3s
  }

  .sui-tabs__pane {
    margin-top 8px
  }

  &.is-outlined {
    .sui-tabs__header {
      border-bottom 0
      position relative

      &::after {
        position absolute
        content ""
        display block
        height 1px
        width 100%
        background-color color--border
        left 0
        bottom 0
        z-index -1
      }
    }
    .sui-tab {
      border 1px solid color--border
      background-color #ffffff
      transition color .3s, border-bottom-color .3s

      &:not(:first-child) {
        border-left 0
      }
      &:first-child {
        border-top-left-radius border-radius--normal
      }
      &:last-child {
        border-top-right-radius border-radius--normal
      }

      &.is-active {
        border-bottom-color rgba(color--border, 0)
      }
    }
  }

  &.is-vertical {
    display flex
    .sui-tabs__header {
      display inline-flex
      flex-direction column
      align-items flex-end
      border-bottom 0
      border-right 2px solid color--border
      height 100%
    }

    .sui-tabs__line {
      width 2px
      height 100%
      right -2px
      top 0
      left auto
    }

    .sui-tabs__pane {
      padding-left 8px
    }
  }
}
