.sui-tag {
  display inline-flex
  align-items center
  font-size font-size--text.medium
  min-height 24px
  padding 0 8px
  border-radius border-radius--normal

  for type, colors in typesMap {
    &--{type} {
      border: 1px solid colors[4]
      background-color: colors[4]
      color: colors--neutral[0]

      & ^[0]__close-token:hover {
        background-color #ffffff
        color colors[4]
      }
    }
  }

  &--warning {
    color: color--text

    & ^[0]__close-token:hover {
      color color--text
    }
  }

  &__close-token {
    margin-left 8px
    border-radius 50%
    cursor pointer
    transition all .3s
  }

  // outlined
  &.is-outlined {
    for type, colors in typesMap {
      &^[0]--{type} {
        border: 1px solid colors[4]
        background-color: colors[0]
        color: colors[4]

        & ^[0]__close-token:hover {
          background-color colors[4]
          color colors--neutral[0]
        }
      }
    }
  }

  // rounded
  &.is-rounded {
    border-radius 99px
  }
}
