@keyframes rotate {
  from {
    transform rotate(0)
  }
  to {
    transform rotate(360deg)
  }
}

.rotating {
  animation rotate 2s linear infinite
}

.rotate--90 {
  transform rotate(90deg)
}
.rotate--180 {
  transform rotate(180deg)
}
