.slide-up-fade-enter-from,
.slide-up-fade-leave-to {
  opacity 0
  transform translateY(-8px)
}

.slide-up-fade-enter-active,
.slide-up-fade-leave-active {
  transition all .3s ease-out
}

@keyframes rotate {
  from {
    transform rotate(0)
  }
  to {
    transform rotate(360deg)
  }
}

.rotating {
  animation rotate 2s linear infinite
}
