@use 'sass:color';
@use 'sass:map';
@use 'sass:math';
@use '../palette/index.scss' as *;

$palette: () !default;
$palette: map.deep-merge(
  (
    'primary': (
      'base': #2563eb
    ),
    'warning': (
      'base': #f59e0b
    ),
    'error': (
      'base': #dc2626
    ),
    'success': (
      'base': #16a34a
    )
  ),
  $palette
);

$colors: (
  'white': #ffffff,
  'black': #000000,
  'primary': generatePalette(map.get($palette, 'primary', 'base')),
  'warning': generatePalette(map.get($palette, 'warning', 'base')),
  'error': generatePalette(map.get($palette, 'error', 'base')),
  'success': generatePalette(map.get($palette, 'success', 'base')),
  'neutral': (
    '1': #f7f8fa,
    '2': #e5e6eb,
    '3': #d7d9e2,
    '4': #c9cdd4,
    '5': #a9aeb8,
    '6': #86909c,
    '7': #6b7785,
    '8': #4e5969,
    '9': #272e3b,
    '10': #1d2129,
    'dark-1': #17171a,
    'dark-2': #2e2e30,
    'dark-3': #484849,
    'dark-4': #5f5f60,
    'dark-5': #78787a,
    'dark-6': #929293,
    'dark-7': #ababac,
    'dark-8': #c5c5c5,
    'dark-9': #dfdfdf,
    'dark-10': #f6f6f6,
  )
);

$color-black: map.get($colors, 'black');
$color-white: map.get($colors, 'white');

$colors-line: () !default;
$colors-line: map.merge(
  (
    '1': map.get($colors, 'neutral', '3'),
    '2': map.get($colors, 'neutral', '4'),
    '3': map.get($colors, 'neutral', '5'),
    '4': map.get($colors, 'neutral', '6'),
    'dark-1': map.get($colors, 'neutral', 'dark-3'),
    'dark-2': map.get($colors, 'neutral', 'dark-4'),
    'dark-3': map.get($colors, 'neutral', 'dark-5'),
    'dark-4': map.get($colors, 'neutral', 'dark-6')
  ),
  $colors-line
);

$colors-text: () !default;
$colors-text: map.merge(
  (
    '1': map.get($colors, 'neutral', '10'),
    '2': map.get($colors, 'neutral', '8'),
    '3': map.get($colors, 'neutral', '6'),
    '4': map.get($colors, 'neutral', '4'),
    'dark-1': map.get($colors, 'neutral', 'dark-10'),
    'dark-2': map.get($colors, 'neutral', 'dark-8'),
    'dark-3': map.get($colors, 'neutral', 'dark-6'),
    'dark-4': map.get($colors, 'neutral', 'dark-4')
  ),
  $colors-text
);

$colors-fill: () !default;
$colors-fill: map.merge(
  (
    '1': map.get($colors, 'neutral', '1'),
    '2': map.get($colors, 'neutral', '2'),
    '3': map.get($colors, 'neutral', '3'),
    '4': map.get($colors, 'neutral', '4'),
    'dark-1': map.get($colors, 'neutral', 'dark-1'),
    'dark-2': map.get($colors, 'neutral', 'dark-2'),
    'dark-3': map.get($colors, 'neutral', 'dark-3'),
    'dark-4': map.get($colors, 'neutral', 'dark-4')
  ),
  $colors-fill
);

$colors-bg: () !default;
$colors-bg: map.merge(
  (
    '1': $color-white,
    '2': $color-white,
    '3': $color-white,
    '4': $color-white,
    '5': $color-white,
    'white': $color-white,
    'dark-1': #17171a,
    'dark-2': #232324,
    'dark-3': #2a2a2b,
    'dark-4': #313132,
    'dark-5': #373739,
    'dark-white': #f5f5f6
  ),
  $colors-bg
);

$sizes-text: () !default;
$sizes-text: map.merge(
  (
    'body-1': 12px,
    'body-2': 13px,
    'body-3': 14px,
    'caption': 12px,
    'title-1': 16px,
    'title-2': 20px,
    'title-3': 24px,
    'display-1': 36px,
    'display-2': 48px,
    'display-3': 56px,
  ),
  $sizes-text
);

$sizes-component: () !default;
$sizes-component: map.merge(
  (
    'mini': 24px,
    'small': 28px,
    'medium': 32px,
    'large': 36px
  ),
  $sizes-component
);

$sizes-radius: () !default;
$sizes-radius: map.merge(
  (
    'square': 2px,
    'medium': 4px,
    'large': 8px,
    'rounded': 99px,
    'circle': 50%
  ),
  $sizes-radius
);

$shadows: () !default;
$shadows: map.merge(
  (
    'base': (
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.04),
    ),
    'small': 0 2px 12px 0 rgba(0, 0, 0, 0.1),
    'large': (
      0 3px 6px -4px rgba(0, 0, 0, 12%),
      0 6px 16px 0 rgba(0, 0, 0, 8%),
      0 9px 28px 8px rgba(0, 0, 0, 5%)
    )
  ),
  $shadows
);

$durations: () !default;
$durations: map.merge(
  (
    'extra-fast': 100ms,
    'fast': 200ms,
    'base': 300ms,
    'slow': 400ms,
    '1': 100ms,
    '2': 200ms,
    '3': 300ms,
    '4': 400ms,
    '5': 500ms,
    'loading': 1s
  ),
  $durations
);

$timings: () !default;
$timings: map.merge(
  (
    'linear': cubic-bezier(0, 0, 1, 1),
    'base': cubic-bezier(0.34, 0.69, 0.1, 1),
    'overshoot': cubic-bezier(0.3, 1.3, 0.3, 1),
    'decelerate': cubic-bezier(0.4, 0.8, 0.74, 1),
    'accelerate': cubic-bezier(0.26, 0, 0.6, 0.2)
  ),
  $timings
);

$line-height-base: 1.5715;

$z-popup-base: 1000;
$z-affix: $z-popup-base - 1; // 999
$z-drawer: $z-popup-base + 1; // 1001
$z-modal: $z-drawer; // 1001
$z-message: $z-popup-base + 3; // 1003
$z-notification: $z-popup-base + 3; // 1003
$z-image-preview: $z-modal; // 1001

// ------------------------------------------------

// neutral colors
$text-colors: () !default;
$text-colors: map.merge(
  (
    'title': #111827,
    'base': #1f2937,
    'secondary': #4b5563,
    'placeholder': #9ca3af,
    'disabled': #9ca3af
  ),
  $text-colors
);

$border-color: #d1d5db !default;
$border-colors: () !default;
$border-colors: map.merge(
  (
    '1': map.get($colors, neutral, '2'),
    '2': map.get($colors, neutral, '3'),
    '3': map.get($colors, neutral, '4'),
    '4': map.get($colors, neutral, '6'),
    'dark-1': map.get($colors, neutral, 'dark-2'),
    'dark-2': map.get($colors, neutral, 'dark-3'),
    'dark-3': map.get($colors, neutral, 'dark-4'),
    'dark-4': map.get($colors, neutral, 'dark-6'),
  ),
  $border-colors
);

$fill-colors: () !default;
$fill-colors: map.merge(
  (
    '1': map.get($colors, neutral, '1'),
    '2': map.get($colors, neutral, '2'),
    '3': map.get($colors, neutral, '3'),
    '4': map.get($colors, neutral, '4'),
    'dark-1': map.get($colors, neutral, 'dark-1'),
    'dark-2': map.get($colors, neutral, 'dark-2'),
    'dark-3': map.get($colors, neutral, 'dark-3'),
    'dark-4': map.get($colors, neutral, 'dark-4'),
  ),
  $fill-colors
);


$surface-colors: () !default;
$surface-colors: map.merge(
  (
    'light-4': #f9fafb,
    'light-3': #f3f4f6,
    'light-2': #e5e7eb,
    'light-1': #d1d5db,
    'dark-1': #1e293b,
    'dark-2': #0f172a
  ),
  $surface-colors
);

$box-shadows: () !default;
$box-shadows: map.merge(
  (
    'base': (
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.04),
    ),
    'light': 0 2px 12px 0 rgba(0, 0, 0, 0.1),
    'dark': (
      0 3px 6px -4px rgba(0, 0, 0, 12%),
      0 6px 16px 0 rgba(0, 0, 0, 8%),
      0 9px 28px 8px rgba(0, 0, 0, 5%)
    )
  ),
  $box-shadows
);

$font-sizes: () !default;
$font-sizes: map.merge(
  (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 12px
  ),
  $font-sizes
);

$border-radiuses: () !default;
$border-radiuses: map.merge(
  (
    'none': 0,
    'base': 2px,
    'medium': 4px,
    'large': 8px,
    'rounded': 20px,
    'circle': 100%
  ),
  $border-radiuses
);

$component-common-sizes: () !default;
$component-common-sizes: map.merge(
  (
    'small': 32px,
    'base': 36px,
    'large': 44px,
    'mini': 24px
  ),
  $component-common-sizes
);

$font-weights: () !default;
$font-weights: map.merge(
  (
    'thin': 100,
    'base': 400,
    'medium': 500,
    'bold': 700
  ),
  $font-weights
);

$opacity-mod: 0.35 !default;
$cubic-func: cubic-bezier(.78, .14, .15, .86);
