@import './variables/colors.styl'
@import './variables/typography.styl'

transition--fast = 0.1s
transition--normal = 0.2s
transition--slow = 0.3s

border-radius--normal = 4px
border-radius--large = 8px

box-shadow--normal = 0 4px 8px rgba(0, 0, 0, 16%)

box-shadow--elevation = 0 3px 6px -4px rgba(0, 0, 0, 12%), 0 6px 16px 0 rgba(0, 0, 0, 8%), 0 9px 28px 8px rgba(0, 0, 0, 5%)
box-shadow--primary = 0 0 0 0.25rem rgba(color--primary, 0.2)
