@use 'sass:color';
@use 'sass:map';
@use 'sass:math';

$colors: () !default;
$colors: map.deep-merge(
  (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      '1': #E8F3FF,
      '2': #BFDAFB,
      '3': #96BFF7,
      '4': #6FA2F3,
      '5': #4A83EF,
      '6': #2563EB,
      '7': #1748C3,
      '8': #0C309C,
      '9': #051D74,
      '10': #000E4D,
      'dark-1': #000E4D,
      'dark-2': #031C74,
      'dark-3': #0F329C,
      'dark-4': #214FC3,
      'dark-5': #3870EB,
      'dark-6': #4983EF,
      'dark-7': #72A4F3,
      'dark-8': #9BC2F7,
      'dark-9': #C6DEFB,
      'dark-10': #F2F8FF,
      'base': #2563eb,
      'light-1': #3b82f6,
      'light-2': #60a5fa,
      'light-3': #93c5fd,
      'light-4': #bfdbfe,
      'light-5': #dbeafe,
      'light-6': #eff6ff,
      'dark-1': #1d4ed8,
      'dark-2': #1e40af
    ),
    'success': (
      '1': #E8FFED,
      '2': #B3EDC0,
      '3': #83DA9A,
      '4': #59C87A,
      '5': #35B560,
      '6': #16A34A,
      '7': #0E8D41,
      '8': #087838,
      '9': #036230,
      '10': #004D26,
      'dark-1': #004D26,
      'dark-2': #056231,
      'dark-3': #0F783C,
      'dark-4': #1B8D49,
      'dark-5': #2BA357,
      'dark-6': #3DB565,
      'dark-7': #61C880,
      'dark-8': #8ADA9F,
      'dark-9': #BAEDC5,
      'dark-10': #EEFFF2,
      'base': #16a34a,
      'light-1': #22c55e,
      'light-2': #4ade80,
      'light-3': #86efac,
      'light-4': #bbf7d0,
      'light-5': #dcfce7,
      'light-6': #f0fdf4,
      'dark-1': #15803d,
      'dark-2': #166534
    ),
    'warning': (
      '1': #FFFAE8,
      '2': #FDEDBA,
      '3': #FBDE8E,
      '4': #F9CC61,
      '5': #F7B736,
      '6': #F59E0B,
      '7': #CB7C07,
      '8': #A15D04,
      '9': #774001,
      '10': #4D2600,
      'dark-1': #4D2600,
      'dark-2': #774104,
      'dark-3': #A1600C,
      'dark-4': #CB8317,
      'dark-5': #F5A826,
      'dark-6': #F7B530,
      'dark-7': #F9CB5D,
      'dark-8': #FBDD8B,
      'dark-9': #FDEDBA,
      'dark-10': #FFFAE9,
      'base': #f59e0b,
      'light-1': #eab308,
      'light-2': #fbbf24,
      'light-3': #fcd34d,
      'light-4': #fde68a,
      'light-5': #fef3c7,
      'light-6': #fffbeb,
      'dark-1': #d97706,
      'dark-2': #ea580c
    ),
    'error': (
      '1': #FFECE8,
      '2': #F8C5BD,
      '3': #F19E94,
      '4': #EA766D,
      '5': #E34E49,
      '6': #DC2626,
      '7': #B8181D,
      '8': #940D16,
      '9': #700510,
      '10': #4D000A,
      'dark-1': #4D000A,
      'dark-2': #700510,
      'dark-3': #941119,
      'dark-4': #B82226,
      'dark-5': #DC3838,
      'dark-6': #E34E49,
      'dark-7': #EA786F,
      'dark-8': #F1A096,
      'dark-9': #F8C7C0,
      'dark-10': #FFEFEB,
      'base': #dc2626,
      'light-1': #ef4444,
      'light-2': #f87171,
      'light-3': #fca5a5,
      'light-4': #fecaca,
      'light-5': #fee2e2,
      'light-6': #fef2f2,
      'dark-1': #b91c1c,
      'dark-2': #991b1b,
    ),
    'neutral': (
      '1': #f7f8fa,
      '2': #f2f3f5,
      '3': #e5e6eb,
      '4': #c9cdd4,
      '5': #a9aeb8,
      '6': #86909c,
      '7': #6b7785,
      '8': #4e5969,
      '9': #272e3b,
      '10': #1d2129,
      'dark-1': #17171a,
      'dark-2': #2e2e30,
      'dark-3': #484849,
      'dark-4': #5f5f60,
      'dark-5': #78787a,
      'dark-6': #929293,
      'dark-7': #ababac,
      'dark-8': #c5c5c5,
      'dark-9': #dfdfdf,
      'dark-10': #f6f6f6,
    )
  ),
  $colors
);

$color-black: map.get($colors, 'black');
$color-white: map.get($colors, 'white');

// neutral colors
$text-colors: () !default;
$text-colors: map.merge(
  (
    'title': #111827,
    'base': #1f2937,
    'secondary': #4b5563,
    'placeholder': #9ca3af,
    'disabled': #9ca3af
  ),
  $text-colors
);

$border-color: #d1d5db !default;
$border-colors: () !default;
$border-colors: map.merge(
  (
    'base': #d1d5db,
    'light-1': #e5e7eb,
    'light-2': #f3f4d6,
    'dark-1': #9ca3af
  ),
  $border-colors
);

$surface-colors: () !default;
$surface-colors: map.merge(
  (
    'light-4': #f9fafb,
    'light-3': #f3f4f6,
    'light-2': #e5e7eb,
    'light-1': #d1d5db,
    'dark-1': #1e293b,
    'dark-2': #0f172a
  ),
  $surface-colors
);

$box-shadows: () !default;
$box-shadows: map.merge(
  (
    'base': (
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.04),
    ),
    'light': 0 2px 12px 0 rgba(0, 0, 0, 0.1),
    'dark': (
      0 3px 6px -4px rgba(0, 0, 0, 12%),
      0 6px 16px 0 rgba(0, 0, 0, 8%),
      0 9px 28px 8px rgba(0, 0, 0, 5%)
    )
  ),
  $box-shadows
);

$font-sizes: () !default;
$font-sizes: map.merge(
  (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 12px
  ),
  $font-sizes
);

$border-radiuses: () !default;
$border-radiuses: map.merge(
  (
    'none': 0,
    'base': 2px,
    'medium': 4px,
    'large': 8px,
    'rounded': 20px,
    'circle': 100%
  ),
  $border-radiuses
);

$component-common-sizes: () !default;
$component-common-sizes: map.merge(
  (
    'small': 32px,
    'base': 36px,
    'large': 44px,
    'mini': 24px
  ),
  $component-common-sizes
);

$font-weights: () !default;
$font-weights: map.merge(
  (
    'thin': 100,
    'base': 400,
    'medium': 500,
    'bold': 700
  ),
  $font-weights
);

$durations: () !default;
$durations: map.merge(
  (
    'extra-fast': 75ms,
    'fast': 100ms,
    'base': 200ms,
    'slow': 300ms
  ),
  $durations
);

$opacity-mod: 0.35 !default;
$cubic-func: cubic-bezier(.78, .14, .15, .86);