// colors
color--placeholder = #a0a3bd
color--border = #d9dbe9

color--primary = #2258e3
color--success = #06ba63
color--error = #E63333
color--warning = #FFBE4D

colors--text = {
  normal: #222B45,
  secondary: #8F9BB3,
  disabled: rgba(#8F9BB3, 0.5),
  vert: #f7f7fc
}

colors--surface = {
  disabled: #f6f5fa,
  dark: #e8e8e8,
  normal: #EDF1F7,
}

colors--primary = {
  normal: color--primary,
  x-light: lighten(color--primary, 90%),
  light: lighten(color--primary, 16%),
  dark: darken(color--primary, 14%)
}

colors--success = {
  normal: color--success,
  x-light: lighten(color--success, 90%),
  light: lighten(color--success, 16%),
  dark: darken(color--success, 14%)
}

colors--error = {
  normal: color--error,
  x-light: lighten(color--error, 90%),
  light: lighten(color--error, 16%),
  dark: darken(color--error, 14%)
}

colors--warning = {
  normal: color--warning,
  x-light: lighten(color--warning, 90%),
  light: lighten(color--warning, 16%),
  dark: darken(color--warning, 14%),
}

colors--neutral = {

}

typesMap = {
  'default': colors--primary,
  'success': colors--success,
  'warning': colors--warning,
  'error': colors--error
}

// typography
font-size--display = {
  larger: 48px,
  large: 36px,
  medium: 24px,
  small: 22px
}

font-size--text = {
  larger: 18px,
  large: 16px,
  medium: 14px,
  small: 12px,
}

font-family = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji'

border-radius--normal = 4px
border-radius--large = 8px

box-shadow--normal = 0 4px 8px rgba(0, 0, 0, 16%)

box-shadow--elevation = 0 3px 6px -4px rgba(0, 0, 0, 12%), 0 6px 16px 0 rgba(0, 0, 0, 8%), 0 9px 28px 8px rgba(0, 0, 0, 5%)
box-shadow--primary = 0 0 0 0.25rem rgba(colors--surface.normal, 1)
