// colors
color--placeholder = #a0a3bd
color--border = #d9dbe9

color--text = {
  normal: #4a4a68,
  dark: #14142b,
  light: #8e90ad,
  vert: #f7f7fc
}

color--bg = {
  normal: #f7f7fc,
  dark: #eff0f6,
  light: #fcfcfc
}

color--primary = {
  normal: #0066ff,
  x-light: #e6f4ff,
  light: #2986ff,
  dark: #004fd9
}

color--success = {
  normal: #28a745,
  x-light: #eef9d8,
  light: #47b35d,
  dark: #188034
}

color--error = {
  normal: #d13e32,
  x-light: #fff2f0,
  light: #de6859,
  dark: #ab2720
}

color--warning = {
  normal: #ffc107,
  x-light: #fffbd1,
  light: #ffd230,
  dark: #d99b00
}

typesMap = {
  'default': color--primary,
  'success': color--success,
  'warning': color--warning,
  'error': color--error
}

// typography
font-size--display = {
  large: 48px,
  medium: 36px,
  small: 24px
}

font-size--text = {
  large: 18px,
  medium: 14px,
  small: 12px,
}

font-family = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji'

border-radius--normal = 4px

box-shadow--normal = 0 4px 8px rgba(0, 0, 0, 16%)
