@use 'sass:color';
@use 'sass:map';
@use 'sass:math';
@use '../palette/index.scss' as *;

$palette: () !default;
$palette: map.deep-merge(
  (
    'primary': (
      'base': #2563eb
    ),
    'warning': (
      'base': #f59e0b
    ),
    'error': (
      'base': #dc2626
    ),
    'success': (
      'base': #16a34a
    )
  ),
  $palette
);

$colors: (
  'white': #ffffff,
  'black': #000000,
  'primary': generatePalette(map.get($palette, 'primary', 'base')),
  'warning': generatePalette(map.get($palette, 'warning', 'base')),
  'error': generatePalette(map.get($palette, 'error', 'base')),
  'success': generatePalette(map.get($palette, 'success', 'base')),
  'neutral': (
    '1': #f7f8fa,
    '2': #f2f3f5,
    '3': #e5e6eb,
    '4': #c9cdd4,
    '5': #a9aeb8,
    '6': #86909c,
    '7': #6b7785,
    '8': #4e5969,
    '9': #272e3b,
    '10': #1d2129,
    'dark-1': #17171a,
    'dark-2': #2e2e30,
    'dark-3': #484849,
    'dark-4': #5f5f60,
    'dark-5': #78787a,
    'dark-6': #929293,
    'dark-7': #ababac,
    'dark-8': #c5c5c5,
    'dark-9': #dfdfdf,
    'dark-10': #f6f6f6,
  )
);

$color-black: map.get($colors, 'black');
$color-white: map.get($colors, 'white');

// neutral colors
$text-colors: () !default;
$text-colors: map.merge(
  (
    'title': #111827,
    'base': #1f2937,
    'secondary': #4b5563,
    'placeholder': #9ca3af,
    'disabled': #9ca3af
  ),
  $text-colors
);

$border-color: #d1d5db !default;
$border-colors: () !default;
$border-colors: map.merge(
  (
    '1': map.get($colors, neutral, '2'),
    '2': map.get($colors, neutral, '3'),
    '3': map.get($colors, neutral, '4'),
    '4': map.get($colors, neutral, '6'),
    'dark-1': map.get($colors, neutral, 'dark-2'),
    'dark-2': map.get($colors, neutral, 'dark-3'),
    'dark-3': map.get($colors, neutral, 'dark-4'),
    'dark-4': map.get($colors, neutral, 'dark-6'),
  ),
  $border-colors
);

$fill-colors: () !default;
$fill-colors: map.merge(
  (
    '1': map.get($colors, neutral, '1'),
    '2': map.get($colors, neutral, '2'),
    '3': map.get($colors, neutral, '3'),
    '4': map.get($colors, neutral, '4'),
    'dark-1': map.get($colors, neutral, 'dark-1'),
    'dark-2': map.get($colors, neutral, 'dark-2'),
    'dark-3': map.get($colors, neutral, 'dark-3'),
    'dark-4': map.get($colors, neutral, 'dark-4'),
  ),
  $fill-colors
);


$surface-colors: () !default;
$surface-colors: map.merge(
  (
    'light-4': #f9fafb,
    'light-3': #f3f4f6,
    'light-2': #e5e7eb,
    'light-1': #d1d5db,
    'dark-1': #1e293b,
    'dark-2': #0f172a
  ),
  $surface-colors
);

$box-shadows: () !default;
$box-shadows: map.merge(
  (
    'base': (
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.04),
    ),
    'light': 0 2px 12px 0 rgba(0, 0, 0, 0.1),
    'dark': (
      0 3px 6px -4px rgba(0, 0, 0, 12%),
      0 6px 16px 0 rgba(0, 0, 0, 8%),
      0 9px 28px 8px rgba(0, 0, 0, 5%)
    )
  ),
  $box-shadows
);

$font-sizes: () !default;
$font-sizes: map.merge(
  (
    'extra-large': 20px,
    'large': 18px,
    'medium': 16px,
    'base': 14px,
    'small': 12px
  ),
  $font-sizes
);

$border-radiuses: () !default;
$border-radiuses: map.merge(
  (
    'none': 0,
    'base': 2px,
    'medium': 4px,
    'large': 8px,
    'rounded': 20px,
    'circle': 100%
  ),
  $border-radiuses
);

$component-common-sizes: () !default;
$component-common-sizes: map.merge(
  (
    'small': 32px,
    'base': 36px,
    'large': 44px,
    'mini': 24px
  ),
  $component-common-sizes
);

$font-weights: () !default;
$font-weights: map.merge(
  (
    'thin': 100,
    'base': 400,
    'medium': 500,
    'bold': 700
  ),
  $font-weights
);

$durations: () !default;
$durations: map.merge(
  (
    'extra-fast': 75ms,
    'fast': 100ms,
    'base': 200ms,
    'slow': 300ms
  ),
  $durations
);

$opacity-mod: 0.35 !default;
$cubic-func: cubic-bezier(.78, .14, .15, .86);