make-button(colors) {
  surface = 0
  surface-dark = 1
  light = 2
  normal = 6
  dark = 7

  &:not(.is-disabled):not(.is-loading):hover {
    background-color: colors[surface]
    border-color: colors[light]
    color: colors[normal]
  }
  &:not(.is-disabled):not(.is-loading):focus {
    border: 1px solid colors[normal]
    background-color: colors[surface]
    color: colors[normal]
    ring(colors[normal])
  }
  &:not(.is-disabled):not(.is-loading):active {
    border: 1px solid colors[dark]
    color: colors[dark]
    background-color: colors[surface-dark]
  }
}

make-primary-button(colors) {
  light = 5
  normal = 6
  dark = 7

  background-color: colors[normal]
  color: color--white
  border: 1px solid colors[normal]

  &:not(.is-disabled):not(.is-loading):hover {
    color: color--white
    background-color: colors[light]
    border: 1px solid colors[light]
  }
  &:not(.is-disabled):not(.is-loading):focus {
    color: color--white
    border: 1px solid colors[light]
    background-color: colors[light]
    ring(colors[normal])
  }
  &:not(.is-disabled):not(.is-loading):active {
    color: color--white
    border: 1px solid colors[dark]
    background-color: colors[dark]
  }
}

make-outlined-button(colors) {
  surface = 0
  light = 5
  normal = 6
  dark = 7

  background-color: colors[surface]
  border: 1px solid colors[normal]
  color: colors[normal]

  &:not(.is-disabled):not(.is-loading):hover {
    color: color--white
    background-color: colors[normal]
    border: 1px solid colors[normal]
  }
  &:not(.is-disabled):not(.is-loading):focus {
    border: 1px solid colors[light]
    background-color: colors[normal]
    color: color--white
    ring(colors[normal])
  }
  &:not(.is-disabled):not(.is-loading):active {
    border: 1px solid colors[dark]
    background-color: colors[dark]
    color: color--white
  }
}

make-text-button(colors) {
  surface = 0
  normal = 6
  light = 5
  dark = 7

  border: 0 !important
  background-color: transparent
  color: colors[normal]

  &:not(.is-disabled):not(.is-loading):hover {
    color: colors[light]
  }
  &:not(.is-disabled):not(.is-loading):focus {
    color: colors[light]
    background-color: colors[surface]
  }
  &:not(.is-disabled):not(.is-loading):active {
    color: colors[dark]
    background-color: colors[surface]
  }
}
