use-flex(centered = true) {
  display: flex
  align-items: center
  justify-content: center
}

use-inline-flex(centered = true) {
  display: inline-flex
  align-items: center
  justify-content: center
}