use-flex(centered = true) {
  display: flex
  align-items: center
  
  if (centered) {
    justify-content: center
  }
}

use-inline-flex(centered = true) {
  display: inline-flex
  align-items: center

  if (centered) {
    justify-content: center
  }
}

ring(ring-color) {
  outline-offset 2px
  outline-width 2px
  outline-color ring-color
  outline-style solid
}