
make-button(colors) {
  &:not(.is-disabled):not(.is-loading):hover {
    background-color colors[0]
    color colors[4]
  }
  &:not(.is-disabled):not(.is-loading):focus-visible {
    border 1px solid colors[4]
    color colors[4]
    box-shadow 0 0 0 0.25rem rgba(colors[3], 0.25)
  }
  &:not(.is-disabled):not(.is-loading):active {
    border 1px solid colors[5]
    color colors[5]
    background-color: colors[0]
  }
}

make-primary-button(colors) {
  background-color colors[4]
  color colors--neutral[0]
  border: 1px solid colors[4]

  &:not(.is-disabled):not(.is-loading):hover {
    color colors--neutral[0]
    background-color colors[3]
    border: 1px solid colors[3]
  }
  &:not(.is-disabled):not(.is-loading):focus-visible {
    border: 1px solid colors[3]
    background-color colors[3]
    color colors--neutral[0]
    box-shadow 0 0 0 0.25rem rgba(colors[3], 0.25)
  }
  &:not(.is-disabled):not(.is-loading):active {
    border: 1px solid colors[5]
    background-color colors[5]
    color colors--neutral[0]
  }
}

make-outlined-button(colors) {
  background-color: colors[0]
  border: 1px solid colors[4]
  color: colors[4]

  &:not(.is-disabled):not(.is-loading):hover {
    color colors--neutral[0] !important
    background-color colors[4]
    border: 1px solid colors[4]
  }
  &:not(.is-disabled):not(.is-loading):focus-visible {
    border: 1px solid colors[3]
    color colors[3]
    box-shadow 0 0 0 0.25rem rgba(colors[3], 0.25)
  }
  &:not(.is-disabled):not(.is-loading):active {
    border: 1px solid colors[5]
    background-color colors[5]
    color colors--neutral[0]
  }
}

make-text-button(colors) {
  border 0 !important
  background-color transparent
  color: colors[4]

  &:not(.is-disabled):not(.is-loading):hover {
    color colors[3]
    background-color color--surface
  }
  &:not(.is-disabled):not(.is-loading):focus-visible {
    color colors[3]
    box-shadow 0 0 0 0.25rem rgba(colors[3], 0.25)
    background-color color--surface
  }
  &:not(.is-disabled):not(.is-loading):active {
    color colors[5]
    background-color colors[0]
  }
}
