
make-button(color) {
  &:not(.is-disabled):not(.is-loading):hover {
    border 1px solid color.normal
    color color.normal
  }
  &:not(.is-disabled):not(.is-loading):focus {
    border 1px solid color.normal
    color color.normal
    box-shadow 0 0 0 0.25rem rgba(color.light, 0.25)
  }
  &:not(.is-disabled):not(.is-loading):active {
    border 1px solid color.dark
    color color.dark
  }
}

make-primary-button(color) {
  background-color color.normal
  color #ffffff
  border: 1px solid color.normal

  &:not(.is-disabled):not(.is-loading):hover {
    color #ffffff
    background-color color.light
    border: 1px solid color.light
  }
  &:not(.is-disabled):not(.is-loading):focus {
    border: 1px solid color.light
    background-color color.light
    color #ffffff
    box-shadow 0 0 0 0.25rem rgba(color.light, 0.25)
  }
  &:not(.is-disabled):not(.is-loading):active {
    border: 1px solid color.dark
    background-color color.dark
    color #ffffff
  }
}

make-outlined-button(color) {
  background-color: color.x-light
  border: 1px solid color.normal
  color: color.normal

  &:not(.is-disabled):not(.is-loading):hover {
    color #ffffff !important
    background-color color.normal
    border: 1px solid color.normal
  }
  &:not(.is-disabled):not(.is-loading):focus {
    border: 1px solid color.light
    color color.light
    box-shadow 0 0 0 0.25rem rgba(color.light, 0.25)
  }
  &:not(.is-disabled):not(.is-loading):active {
    border: 1px solid color.dark
    background-color color.dark
    color #ffffff
  }
}

make-text-button(color) {
  border 0 !important
  background-color transparent !important
  color: color.normal

  &:not(.is-disabled):not(.is-loading):hover {
    color color.light
  }
  &:not(.is-disabled):not(.is-loading):focus {
    box-shadow 0 0 0 0.25rem rgba(color.light, 0.25)
  }
  &:not(.is-disabled):not(.is-loading):active {
    color color.dark
  }
}
