@use '../common/var.scss' as *;
@use '../mixins/main.scss';
@use 'sass:map';

@mixin alert($type) {
  background-color: var(--sui-#{$type}-1);
  border: 1px solid var(--sui-#{$type}-1);
  .sui-alert__icon {
    color: var(--sui-#{$type}-6);
  }
  &.is-outlined {
    border-color: var(--sui-#{$type}-3);
  }
}
