@use '../common/var.scss' as *;
@use '../mixins/main.scss';
@use 'sass:map';

@mixin alert($type) {
  background-color: var(--sui-#{$type}-light-1);
  border: 1px solid transparent;
  .sui-alert__icon {
    color: var(--sui-#{$type}-6);
  }
  &.is-outlined {
    border: 1px solid var(--sui-#{$type}-light-3);
  }
}
