@use 'sass:map';
@use '../common/var.scss' as *;
@use './main.scss';

@mixin use-button-types($type) {
  &--#{$type} {
    @if ($type == 'primary') {
      @include primary-button('primary');
      &.is-danger {
        @include primary-button('error');
      }
    }
    @if ($type == 'default') {
      @include default-button('primary');
      &.is-danger {
        @include default-button('error');
      }
    }
    @if ($type == 'outlined') {
      @include outlined-button('primary');
      &.is-danger {
        @include outlined-button('error');
      }
    }
    @if ($type == 'text') {
      @include text-button('primary');
      &.is-danger {
        @include text-button('error');
      }
    }
  }
}

@mixin default-button($type) {
  $base-color: map.get($colors, $type, '6');
  $fill-color: map.get($colors, $type, '1');
  background-color: $color-white;
  border-color: map.get($colors-line, '2');

  &:not(.is-disabled):not(.is-loading) {
    &:hover {
      color: $base-color;
      border-color: map.get($colors, $type, '2');
      background-color: $fill-color
    }
    &:focus-visible {
      @include main.use-ring($base-color);
      color: $base-color;
      border-color: map.get($colors, $type, '2');
      background-color: $fill-color;
    }
    &:active {
      color: $base-color;
      border-color: $base-color;
      background-color: map.get($colors, $type, '1');
    }
  }
  &.is-disabled {
    background-color: map.get($colors-fill, '1');
    color: map.get($colors-text, '3');
    cursor: not-allowed;
  }
  &.is-loading {
    background-color: map.get($colors-fill, '1');
  }
}

@mixin primary-button($type) {
  $light-color: map.get($colors, $type, '5');
  $dark-color: map.get($colors, $type, '7');
  $base-color: map.get($colors, $type, '6');
  $disabled-color: map.get($colors, $type, '3');

  background-color: $base-color;
  color: $color-white;
  border-color: $base-color;

  &:not(.is-disabled):not(.is-loading) {
    &:hover {
      background-color: $light-color;
      border-color: $light-color;
      color: $color-white;
    }
    &:focus-visible {
      @include main.use-ring($base-color);
      background-color: $light-color;
      border-color: $light-color;
      color: $color-white;
    }
    &:active {
      background-color: $dark-color;
      border-color: $dark-color;
      color: $color-white;
    }
  }
  &.is-disabled {
    background-color: $disabled-color;
    border-color: $disabled-color;
    color: $color-white;
    cursor: not-allowed;
  }
}

@mixin outlined-button($type) {
  $color: map.get($colors, $type, '6');
  $light-color: map.get($colors, $type, '5');
  $dark-color: map.get($colors, $type, '7');
  $disabled-color: map.get($colors, $type, '3');

  background-color: transparent;
  color: $color;
  border-color: $color;

  &:not(.is-disabled):not(.is-loading) {
    &:hover {
      color: $light-color;
      border-color: $light-color;
      background-color: transparent;
    }
    &:focus-visible {
      color: $light-color;
      border-color: $light-color;
      @include main.use-ring($light-color);
    }
    &:active {
      color: $dark-color;
      border-color: $dark-color;
    }
  }
  &.is-disabled {
    border-color: $disabled-color;
    color: $disabled-color;
    cursor: not-allowed;
  }
}

@mixin text-button($type) {
  $bg-color: map.get($colors-fill, '1');
  $bg-dark-color: map.get($colors-fill, '2');
  $color: map.get($colors, $type, '6');
  $light-color: map.get($colors, $type, '5');

  background-color: transparent;
  border-color: transparent;
  color: $color;

  &:not(.is-disabled):not(.is-loading) {
    &:hover {
      color: $light-color;
      background-color: $bg-color;
      border-color: $bg-color;
    }
    &:focus-visible {
      @include main.use-ring($bg-dark-color);
      border-color: transparent;
      background-color: transparent;
    }
    &:active {
      color: map.get($colors, $type, '7');
      background-color: $bg-dark-color;
      border-color: $bg-dark-color;
    }
  }
  &.is-disabled {
    color: map.get($colors, $type, '3');
    cursor: not-allowed;
  }
}

@mixin use-size($size) {
  $height: map.get($sizes-component, #{$size});
  &--#{$size} {
    height: $height;
    padding: var(--padding-#{$size});
    &.is-icon-only {
      width: $height;
      padding: 0;
    }
    @if ($size == 'mini') {
      font-size: map.get($sizes-text, 'body-2');
    }
  }
}

@mixin use-shape($shape) {
  &--#{$shape} {
    border-radius: map.get($sizes-radius, '#{$shape}');
  }
}
