@use 'sass:map';
@use '../common/var.scss' as *;

@mixin use-flex($center: true) {
  display: flex;
  align-items: center;

  @if $center == true {
    justify-content: center;
  }
}

@mixin use-inline-flex($center: true) {
  display: inline-flex;
  align-items: center;

  @if $center == true {
    justify-content: center;
  }
}

@mixin use-ring($color) {
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: $color;
  outline-style: solid;
}

@mixin reset-default-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

@mixin hide-input-element {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
