@use 'sass:map';
@use '../common/var.scss' as *;

@mixin use-flex($center: true) {
  display: flex;
  align-items: center;

  @if $center == true {
    justify-content: center;
  }
}

@mixin use-inline-flex($center: true) {
  display: inline-flex;
  align-items: center;

  @if $center == true {
    justify-content: center;
  }
}

@mixin use-ring($color) {
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: $color;
  outline-style: solid;
}