@use 'sass:map';
@use '../common/var.scss' as *;
@use './main.scss';

@mixin tag($type) {
  background-color: var(--sui-#{$type}-light-1);
  color: var(--sui-#{$type}-6);
  border: 1px solid transparent;

  .sui-tag__close-btn {
    &:hover::before {
      background-color: var(--sui-#{$type}-2);
    }
  }
}

@mixin outlined-tag($type) {
  border: 1px solid var(--sui-#{$type}-6);
}
