@use 'sass:map';
@use '../common/var.scss' as *;
@use './main.scss';

@mixin make-tag($type) {
  $color: map.get($colors, $type, 'base');
  $surface-color: map.get($colors, $type, 'light-6');
  $light-color: map.get($colors, $type, 'light-4');
  $ns: '.sui-tag';

  border: 1px solid $color;
  color: $color;
  background-color: $surface-color;

  #{$ns}__close-btn {
    color: $color;
    &:focus {
      background-color: $light-color;
      @include main.use-ring($color);
    }
  }
}

@mixin fill-dark-tag($type) {
  $color: map.get($colors, $type, 'base');
  $ns: '.sui-tag';

  background-color: $color;
  color: $color-white;

  #{$ns}__close-btn {
    color: $color-white;
    &:focus {
      color: $color;
      @include main.use-ring($color-white)
    }
  }
}

@mixin fill-none-tag {
  background-color: transparent;
}